@font-face {
    font-family: 'Roboto-medium';
    src: url('../fonts/RobotoCondensed-Medium.ttf') format('truetype');
}



body {
    margin: 0;
    font-family: 'Roboto-medium';
    animation: zoom-in-zoom-out 180s ease infinite;
}

/* #backimg {
    animation: zoom-in-zoom-out 180s ease infinite;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
} */

* a {
text-decoration: none;
}

/*---------- NAVBAR ----------*/

.navbar {
    background-color: black;
    padding: 1vw;
    display: flex;
    justify-content: left;
    gap: 3vw;
    align-items: center;
    z-index: 1;
}

#logo {
    width: 7vw;
    height: 7vw;
    transform: rotate(45deg);
}

.itemnav  {
    border: 5px solid black;
    padding: 1vw;
    color: white;
    background-color:black;
    width: 7vw;
    height: 1vw;
    text-align: center;
    vertical-align: middle;
}

.itemnav:hover {
    background-color: black;
    border: rgb(255, 255, 255) 5px double;
    color:#097694;
}

/*---------- Fin NavBar ----------*/

/*----------- Body back ------------*/
#back {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5vw;
    
    
}

#back h1 {
    margin: 0;
    padding-top: 5vw;
    padding-left: 5vw;
    color: #ffffff;
}

#back p {
    margin: 5vw;
    color: #000000;
}

#back .text {
    color: #ffffff;
}

.table {
    display: flex;
    justify-content: space-between;
    
   
}

.right {
    border:  #097694 2px solid ;
    margin: 5vw;
    padding: 1vw;
    width: 30%;
    background-color: rgb(157, 157, 157);
    text-align: center;
    color: white;
}

.log {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    
}

.log-elem {
    border: transparent 1px solid;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.iconePlanet {
    rotate: 0deg;
    transition:
    rotate 10s ; 
}



.iconePlanet:hover {
rotate : 360deg ;
}

.log-elem p {
    margin: 1vw !important;
}


/* ---------- Fin Background ----------- */ 

/*----------- Infos Cards bloc -----------*/

.infoscards {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    padding: 3vw;
}

.cards {
    border: 3px solid white;
    /* background-image: url(../img/bodyback.jpeg);
    background-size: auto;
    background-repeat: no-repeat; */
    background-color: #ffffff5f;
    color: #ffffff;
    padding: 2vw;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 2vw;
    box-shadow: 20px 20px 20px #097694;
}

/* ----------- Bloc ----------- */

.bloc {
    border: white 5px double;
    background-image: url('../img/bodyback.jpeg');
    background-size: auto;
    background-repeat: no-repeat;
    margin: 2vw;
    
    
}

/* ----------- ---------- ----------*/
/* ----------- ---------- ----------*/
/* --------- Page Planete ----------*/
/* ----------- ---------- ----------*/
/* ----------- ---------- ----------*/

#planete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vw;
    margin-right: 3vw;
    margin-top: 5vw;
}

#droite {
    border: 1px white solid;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gauche {
    border: 1px rgba(174, 174, 174, 0.625) solid;
    box-shadow: 20px 20px 20px #097694;
    width: 30%;
    margin: 0;
    color: #097694;
    margin-left: 1.5vw;
}

#right {
    display: flex;
    justify-content: space-around;
}

#gauche h1 {
    margin-left: 2vw;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1vw;
}

#selectpl {
    width: 30%;
    margin-left: 2vw;
    padding: 1vw;
    border: white;
    background-color: black;
    color: white;
}

#textarea {
    width: 75%;
    margin-left: 2vw;
    padding: 1vw;
    border: white;
    background-color: black;
    color: white;
}

#listpla {
    max-height: 25vw;
    overflow-y: scroll;
}

#listpla li {
    font-size: 1.2vw;
    margin: 0.7vw;
}

#sticky-nav {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    position: sticky;
    top: 0px;
}

#infospla {
    margin-top: 5vw;
    text-align: center;
}


#infospla h3 {
    color: #097694;
}

#droite-bloc {
  background-image: url(../img/bodyback.jpeg); 
  height: 10vw; 
  color: white;

}

#droite-bloc h2 {
    margin-left: 5vw ;
    margin-top: 2.5vw;
}

#petit-bloc {
    display: flex;
    justify-content: space-around;
    color: white;
}